
#startsida {
    background-color: #a98463;
    grid-template-rows: 5fr 3fr 4fr ; 
    gap: 25px;
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'mi mi mi mi'
    'ft ft ft ft';
}

#categorie {
    background-color: #a98463;
    /* grid-template-rows: 5fr 3fr 4fr ;  */
    gap: 25px;
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'sc sc sc sc';
}

#product {
    background-color: #a98463;
    grid-template-rows: 1fr 1fr 8fr 3fr; 
    gap: 25px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'sc sc ai ai'
    'ft ft ft ft';
    width: 95%;
}

#news {
    background-color: #a98463;
    /* grid-template-rows: 5fr 3fr 4fr ;  */
    gap: 25px;
    display: grid;
    grid-template-areas:
    'hd hd hd hd'
    'nv nv nv nv'
    'sc sc sc sc';
}


a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}






#hd1 {
background-color: beige;
grid-area: hd;
height: 300px;
border: 2px solid black;
border-radius: 5%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

#logo1 {
   position: relative;
   top: 5px;
    height: 3rem;
}




section#left1 {
    background-image: url(../img/photo_6.jpg);
    background-size: cover;
    width: 60%;
    height: 80%;
    border-radius: 0% 0% 0% 5%;

}

section#right1 {
    background-color: rgb(86, 104, 68);
    width: 40%;
    height: 80%;
    border-radius: 0% 0% 5% 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem;
    box-sizing: border-box;
}

#nv1 {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 20%;

}

#meny {
    display: none;
}

nav ul {
    display: flex;
    
} 

nav ul li {
    list-style: none;
    margin: 1rem 0.5rem 0.5rem 1rem;
}

nav ul li a {
    color: beige;
    text-decoration: none;
}

main {
    grid-area: mi;
    display: flex;
    justify-content: space-around;
}

#ai1 {
    border: 2px solid black; 
    border-radius: 5%;
    width: 40%;
    background-image: url(../img/photo_2.jpg);
    background-size: cover;
}

#sc1{
    background-image: url(../img/photo_4.jpg);
    background-size: cover;
    border: 2px solid black;
    border-radius: 5%;
    width: 40%;
    height: 15rem;

}

h2{
    margin-left:20px
}

#ft1 {
grid-area: ft;
border: 2px solid black;border: 2px solid black;
background-color: beige;
border-radius: 5%;
height: 15rem;
margin-left: 2rem;
margin-right: 2rem;

font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
}











#hd2 {
    background-color: beige;
grid-area: hd;
height: 300px;
border: 2px solid black;
border-radius: 5%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

#logo2 {
    position: relative;
   top: 5px;
    height: 3rem;
}

#nv2 {
    display: flex;
    grid-area: nv;
    justify-content: space-around;
    border-bottom: 1px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 20%;
}

section#left2 {
    background-image: url(../img/photo_3.jpg);
    background-size: cover;
    width: 60%;
    height: 80%;
    border-radius: 0% 0% 0% 5%;
}

section#right2 {
    background-color: rgb(90, 106, 113);
    width: 40%;
    height: 80%;
    border-radius: 0% 0% 5% 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4rem;
    box-sizing: border-box;
}

#sec2 {
  grid-area: sc;
   display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    width: 100%;
}

#sec2 article {
    width: 15rem;
    height: 17rem;
    border: #000 solid;
    border: 2px solid black; 
    background-color: beige;
    border-radius: 5%;
    margin:10px;
}

#pro1 {
    background-image: url(../img/photo_7.jpg);
    background-size: cover;
}

#pro2 {
    background-image: url(../img/photo_5.jpg);
    background-size: cover;
}

#pro3 {
    background-image: url(../img/photo_2.jpg);
    background-size: cover;
}

#pro4 {
    background-image: url(../img/photo_8.jpg);
    background-size: cover;
}

#pro5 {
    background-image: url(../img/photo_9.jpg);
    background-size: cover;
}

#pro6 {
    background-image: url(../img/photo_10.jpg);
    background-size: cover;
}

#pro7 {
    background-image: url(../img/photo_1.jpg);
    background-size: cover;
}

#pro8 { 
    background-image: url(../img/photo_11.jpg);
    background-size: cover;
}







#hd3 {
grid-area: hd;
display: flex;
justify-content: center;
height: 3rem;
}

#nv3 {
    display: flex;
    grid-area: nv;
    background-color: beige;
    border-radius: 5%;
    justify-content: space-around;
    border-bottom: 1px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}


#sc3 {
    grid-area: sc;
    background-image: url(../img/photo_8.jpg);
    background-size: cover;
    border: 2px solid black;
    border-radius: 5%;
    height: auto;

}

#ai3 {
    grid-area: ai;
    border: 2px solid black;
    border-radius: 5%;
    height: auto;
    width: 50%;
    box-sizing: border-box;
}

#ft3 {
    grid-area: ft;
     display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-around;
      width: 100%;
  }

#ft3 article {
    width: 6rem;
    height: 6rem;
    border: #000 solid;
    border: 2px solid black; 
    background-color: beige;
    border-radius: 5%;
    margin:10px;
}

#ex1 {
    background-image: url(../img/photo_7.jpg);
    background-size: cover;
}

#ex2 {
    background-image: url(../img/photo_5.jpg);
    background-size: cover;
}

#ex3 {
    background-image: url(../img/photo_2.jpg);
    background-size: cover;
}












#hd4 {
    grid-area: hd;
    display: flex;
    justify-content: center;
    height: 3rem;
}
    
#nv4 {
    display: flex;
    grid-area: nv;
    justify-content: space-around;
    background-color: beige;
    border-radius: 5%;
    border-bottom: 1px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}
    
#sec4 {
    grid-area: sc;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    width: 100%;
}
      
#sec4 article {
    width: 15rem;
    height: 17rem;
    border: #000 solid;
    border: 2px solid black; 
    background-color: beige;
    border-radius: 5%;
    margin:10px;
}
      
#new1 {
    background-image: url(../img/photo_7.jpg);
    background-size: cover;
}
      
#new2 {
    background-image: url(../img/photo_5.jpg);
    background-size: cover;
}
      
#new3 {
    background-image: url(../img/photo_2.jpg);
    background-size: cover;
}
      
#new4 {
    background-image: url(../img/photo_8.jpg);
    background-size: cover;
}
      
#new5 {
    background-image: url(../img/photo_9.jpg);
    background-size: cover;
}
      
#new6 {
    background-image: url(../img/photo_10.jpg);
    background-size: cover;
}
      
#new7 {
    background-image: url(../img/photo_1.jpg);
    background-size: cover;
}
      
#new8 { 
    background-image: url(../img/photo_11.jpg);
    background-size: cover;
}
      
      
























@media screen and (max-width:600px) {
    body {
        background-color: beige;
    }

    header {
        position: relative ;
    }

    #meny {
        height: 1.5rem;
        width:  2.2rem;
        position: absolute;
        top: 0.7rem;
        right: 0.7rem ;
        display: block;

    }

    #meny div {
        border: 1.5px solid #000;
        margin: 0.3rem;
    }

    nav{
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        border: 0 !important;
    }

    nav.active {
        max-height: 1000px;
        transition: max-height 1s;
    }
    
    nav ul{
        display: block;
        padding: 0;
    }

    nav ul li {
        text-align: center;
    }
    
    nav ul li a {
        width: 100%;
        height: 100% ;
    }

    nav ul li:hover {
        background-color:rgb(98, 76, 80); 
    }
     
}